## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
packages/

## IDE
.vs/
.vscode/
.idea/
*.swp

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Test Results
TestResults/
[Tt]est[Rr]esult*/
coverage/
*.coverage
